@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 649px;
  --breakpoint-md: 786px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --font-RobotoFlex: "Roboto Flex", sans-serif;

  --color-primary: rgb(138, 4, 195);
  --color-primary-smooth: rgb(123, 34, 200);
  --color-primary-smooth-light: rgb(132, 49, 204);

  --shadow-inset: inset 0 -20px 90px 50px rgba(0, 0, 0, 0.35);
  --shadow-inset-md: inset 0 -25px 150px 250px rgba(0, 0, 0, 0.25);

  --shadow-inset-dark: inset 0 -20px 200px 100px rgba(0, 0, 0, 0.65);
}

:root {
  --color-primary: rgb(138, 4, 195);
  --color-secondary: rgb(250, 238, 226);
  --color-light: rgb(225, 225, 225);
  --color-dark: rgb(114, 6, 10);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-yellow: rgb(255, 255, 0);
  --color-smooth: oklch(92.9% 0.013 255.508);

  --font-family: "Roboto Flex", sans-serif;

  --card-padding: 1rem;

  --nav-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
  --md-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --lg-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  transition: var(--transition);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  max-width: 100vw;
  min-height: 100vh;
  /* background-image: url('/images/hero-bg.jpg');
  background-position: center;
  background-size: cover; */
}

@media screen and (min-width:2560px) {
  body {
    font-size: 2.2rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

/* ----------- Tailwind Add Extra CSS Styles -------------  */
@layer base {
  .custom-text-dark {
    color: var(--color-dark);
  }

  .custom-bg-dark {
    color: var(--color-dark);
  }

  .custom-text-primary {
    color: var(--color-primary);
  }

  .custom-bg-primary {
    background-color: var(--color-primary);
  }

  .custom-transition {
    transition: var(--transition);
  }

  .text-outline {
    -webkit-text-stroke: 1.8px var(--color-primary);
    font-family: var(--font-family-secondary);
    color: transparent;
    transition: var(--transition);
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px var(--color-primary);
    color: var(--color-primary);
  }

  .custom-bg-secondary {
    background-color: var(--color-secondary);
  }

  .custom-text-secondary {
    color: var(--color-secondary);
  }

  .custom-hover-effect:hover {
    transition: var(--transition);
    opacity: 0.7;
  }

  .custom-hover-effect-move:hover {
    transition: var(--transition);
    transform: translateY(-5px);
    opacity: 0.7;
  }

  .custom-writing-vertical {
    writing-mode: sideways-lr;
  }
}

@media screen and (max-width:576px) {
  .text-outline {
    -webkit-text-stroke: 1px var(--color-primary);
  }
}